:root {
  --gradient: linear-gradient(20deg, #17ae8b, #43c6a7);
}

.gradient-animation {
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 7s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
